{% extends "base.html" %}
{% block title %}State of the Game!{% endblock %}
{% block header %}Game Board{% endblock %}
{% block body %}
<div class="pure-g-r">
  <div class="pure-u-1">
    <h3>Current Game Board</h3>
  </div>
  <div class="pure-u-1-2">
    <div id="map">
      <div class="board-background">
	    <img src="{{ url_for('static', filename='nexthope-floorplan.jpg') }}" />
      </div>
	  
      <div class="board-foreground">
        <img src="{{ url_for('static', filename='latest.png') }}"  />
      </div>
    </div>
  </div>

  <div class="pure-u-1-2" id="location-info">
    <table class="pure-table pure-table-horizontal">
	  <tr>
        <th width="162"> Area Name </th>
        <th width="127"> Team </th>
        <th width="93"> Mob Count </th>
      </tr>
      
      {% for (name, location) in game_board.items() %}
      <tr>
	    <td width="162">{{ name }}</td>
	    <td width="127">{{ location.team|default('Up for grabs!') }}</td>
	    <td width="93">{{ location.mob_count }}</td>
	  </tr>
      {% else %}
      <tr><td>Huh, no data yet...</td></tr>
      {% endfor %}
    </table>
  </div>

  <div class="pure-u-1">
    <h3>Scoreboard</h3>
  </div>

  <div class="pure-u-1-2" id="team-scores">
  	<h4>Team Scores</h4>
    <table class="pure-table pure-table-horizontal">
      <tr> 
        <th> Team </th>
        <th> Score </th>
      </tr>
	  
      {% for (name, score) in team_scores.items() %}
	  <tr>
		<td> {{ name }} </td>
		<td> {{ score }} </td>
	  </tr>
      {% else %}
      <tr><td>No teams have scored yet!</td></tr>
      {% endfor %}
    </table>
  </div>
  <div class="pure-u-1-2" id="player-scores">
    <h4>Individual Scores</h4>
    <table class="pure-table pure-table-horizontal">
      <tr>
        <th>Player</th>
        <th>Score</th>
      </tr>
      {% for (player_id, player) in players.items() %}
	  <tr>
		<td>{{ ('Anon ' + player_id) if player.display_name is none else player.display_name }} </td>
		<td>{{ player.score|default(0) }}</td>
	  </tr>
      {% else %}
      <tr><td>Hmm, no player data yet...</td></tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
